<!-- <p>edit-profile-user works!</p> -->
<!-- Toolbar -->
<!-- <app-header-user></app-header-user> -->
<div class="grid-container-em-detail">
  <div class="grid-item-em item1">
    <div class="ex1-op-em">ตัวเลือก</div>
    <div class="ex2-op-em">
      <a class="op" routerLink="/profile-user">ข้อมูลส่วนตัว</a><br>
      <a class="op1" routerLink="/edit-profile-user">แก้ไขข้อมูล</a><br>
      <a class="op" routerLink="/history-user">ประวัติการรับสินค้า</a><br>
    </div>
  </div>
  <div class="grid-item-layout item2">
    <div class="ex3">แก้ไขข้อมูล</div>
    <div class="ex4-pf">
      <form action="" method="GET">
        <div class="grid-container-eminfo">
          <div class="item-eminfo1">
              <a class="input">ชื่อพนักงาน</a><a style="color: red;">  *</a><br>
              <input type="text-eminfo" id="employeeName" name="employee_name" placeholder="ชื่อพนักงาน .."><br>
              <a class="input">ชื่อผู้ใช้</a><a style="color: red;">  *</a><br>
              <input type="text-eminfo" id="username" name="username" placeholder="ชื่อผู้ใช้ .."><br>


          </div>

          <div class="item-eminfo2">
              <a class="input">เบอร์ติดต่อ</a><br>
              <input type="text-eminfo" id="barcode" name="barcode" placeholder="เบอร์ติดต่อ .."><br>
              <a class="input">รหัสผ่าน</a><a style="color: red;">  *</a><br>
              <input type="text-eminfo" id="brand" name="brand" placeholder="รหัสผ่าน ..">

            <!-- <a class="reset" type="reset" value="ยกเลิก">ยกเลิก</a> -->
            <button type="submit-eminfo" value="ยืนยัน">ยืนยัน</button>
            <input type="reset" value="ยกเลิก">

          </div>

        </div>

      </form>
    </div>
</div>
