<!-- <p>history works!</p> -->
<!-- Toolbar -->
<!-- <app-header></app-header> -->
<div class="grid-container-em-detail">
  <div class="grid-item-em item1">
    <div class="ex1-op-em">ตัวเลือก</div>
    <div class="ex2-op-em">
        <a class="op" routerLink="/profile">ข้อมูลส่วนตัว</a><br>
        <a class="op" routerLink="/edit-profile">แก้ไขข้อมูล</a><br>
        <a class="op1" routerLink="/history">ประวัติการรับสินค้า</a><br>
    </div>
  </div>
   <!-- search bar -->
   <!-- <div class="grid-item-layout item2">
    <div class="search-bar">
       <input type="text" class="searchTerm-bar" placeholder="ค้นหาพนักงาน ... ">
       <button type="submit" class="searchButton-bar">
          <a class="search-bar-button">ค้นหา</a>
      </button>
    </div> -->


  <div class="grid-item-em item2">
    <div class="ex3-em">ประวัติ</div>
      <div class="fixed_header_em">
        <table>
          <thead>
          <tr>
            <th>รหัสสินค้า</th>
            <th>ยี่ห้อ</th>
            <th>ชื่อสินค้า</th>
            <th>ขนาด</th>
            <th>สี</th>
            <th>จำนวน</th>
            <th>ต้นทุน</th>
            <th>โรงงาน</th>
            <th>วันที่รับ</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>JW001</td>
            <td>SCG</td>
            <td>บอลวาล์ว</td>
            <td>1/2"</td>
            <td>ฟ้า</td>
            <td>50</td>
            <td>5</td>
            <td>ท่อน้ำ</td>
            <td>20-03-20</td>
          </tr>
        </tbody>
        </table>
    </div>
  </div>



</div>
