<!-- <p>factory-detail works!</p> -->
<!-- Toolbar -->
<!-- <app-header></app-header> -->
<div class="grid-container-fac-detail">
  <div class="grid-item-fac-datail item1-fac-datail">
    <div class="ex1-op-fac-detail">ข้อมูลโรงงาน</div>
    <div class="ex2-op-fac-detail">
        <div class="facBox" >
            <!-- <img src="../assets/img/delivery-truck (2).png"><br> -->
            <a class="nameFac">รหัสโรงงาน:</a><a class="nameFac-sub">FC001</a><br>
            <a class="nameFac">ชื่อโรงงาน:</a><a class="nameFac-sub">โรงงานสีเดลต้า จำกัด</a><br>
            <a class="nameFac">ที่อยู่:</a><a class="nameFac-sub">187 ซ.ฉลองกรุง31 เเขวงลำปลาทิว เขตลาดกระบัง</a><br>
            <a class="nameFac">เบอร์ติดต่อ:</a><a class="nameFac-sub">027397101</a>
        </div>
    </div>
  </div>

  <div class="grid-item-fac-datail item2-fac-datail">
    <div class="ex1-op-fac-detail">ข้อมูลผู้ขาย</div>
    <div class="ex2-op-fac-detail">
      <div class="facBox" >
          <!-- <img src="../assets/img/delivery-truck (2).png"><br> -->
          <a class="nameFac">ชื่อผู้ขาย:</a><a class="nameFac-sub">คุณวี</a><br>
          <a class="nameFac">เบอร์ติดต่อ:</a><a class="nameFac-sub"></a><br>
          <a class="nameFac">Line ID:</a><a class="nameFac-sub"></a><br>
      </div>
  </div>
  </div>


  <div class="grid-item-fac-datail item3-fac-detail">
    <div class="ex3-fac-detail">รายการสินค้า
      <!-- <img class="sea" routerLink="/#" src="../assets/img/list.png"> -->
    </div>

    <div class="ex4-fac-detail">
      <div class="grid-container-img-fac">
        <div class="grid-item-img-fac">
          <img class="stock" src="../assets/img/73551.jpeg" >
              <a class="nameHead">รหัสสินค้า:</a><a class="nameSub">N66255</a><br>
              <a class="nameHead">ชื่อ:</a><a class="nameSub">แม่สี</a><br>
              <a class="nameHead">ราคาทุน:</a><a class="nameSub">55</a>
        </div>

    </div>
  </div>

  </div>

</div>
