<!-- <p>profile works!</p> -->
<!-- Toolbar -->
<!-- <app-header></app-header> -->
<div class="grid-container-em-detail">
  <div class="grid-item-em item1">
    <div class="ex1-op-em">ตัวเลือก</div>
    <div class="ex2-op-em">
      <a class="op1" routerLink="/profile">ข้อมูลส่วนตัว</a><br>
      <a class="op" routerLink="/edit-profile">แก้ไขข้อมูล</a><br>
      <a class="op" routerLink="/history">ประวัติการรับสินค้า</a><br>
    </div>
  </div>
  <div class="grid-item-layout item2">
    <div class="ex3">ข้อมูลส่วนตัว</div>
    <div class="ex4-em">
      <form action="" method="GET">
        <div class="grid-container-eminfo">
          <div class="item-eminfo1">
                <a class="nameHead">ชื่อพนักงาน:</a><a class="nameSub">อภิสรา</a><br>
                <a class="nameHead">ชื่อผู้ใช้:</a><a class="nameSub"></a>beamber<br>
                <a class="nameHead">หน้าที่:</a><a class="nameSub">Admin</a><br>     
                <a class="nameHead">เบอร์ติดต่อ:</a><a class="nameSub">0899999999</a><br>
                <a class="nameHead">รหัสผ่าน:</a><a class="nameSub">1234</a><br>      
          </div>
        </div>

      </form>
    </div>
</div>
