<!-- <p>listorder works!</p> -->
<!-- Toolbar -->
<!-- <app-header></app-header> -->
<div class="grid-container-dash">
  <div class="grid-item-dash item1">
    <div class="ex1-dash">หมวดหมู่</div>
    <div class="ex2-dash">
      <a class="op"><B>อุปกรณ์ก่อสร้าง</B></a><br>
      <a class="op" href="#">&emsp;สี</a><br>
      <a class="op" href="#">&emsp;ประปา</a><br>
      <a class="op" href="#">&emsp;ไฟฟ้า</a><br>
      <a class="op" href="#">&emsp;เครื่องมือช่าง</a>
    </div>
  </div>

  <div class="grid-item-dash item3">
    <div class="ex1-op-dash">เดือน</div>
    <div class="ex2-op-dash">
      <a class="input">ปี</a><br>
        <select id="year" name="year" >
          <option type="text-editproduct" value="none" >ปี ..</option>
          <option value="2562" >2562</option>
          <option value="2563" >2563</option>
        </select><br>
        <a class="input">เดือน</a><br>
        <select id="month" name="month" >
          <option type="text-editproduct" value="none" >เดือน ..</option>
          <option value="month" >มกราคม</option>
          <option value="month" >กุมภาพันธ์</option>
        </select>
      </div>      
  </div>

  <div class="grid-item-dash item4">
    <button class="download">ดาวน์โหลดข้อมูล</button>
  </div>  

 

  <div class="grid-item-dash item2">
    <div class="ex3-dash">สรุปยอดขาย</div>
    <div class="ex4-dash">
      
      <!-- ใส่กราฟ -->
      <img class="pie" src="../assets/img/piechart.png">
  </div>
</div>

