<!-- <p>add-factory works!</p> -->
<!-- Toolbar -->
<!-- <app-header></app-header> -->
<div class="grid-container-fac">
  <div class="grid-item-fac item1">
    <div class="ex1-op-fac">ตัวเลือก</div>
    <div class="ex2-op-fac">
      <a class="op" routerLink="/factory" >โรงงานสินค้า</a><br>
      <a class="op1">เพิ่มโรงงาน</a><br>
      <a class="op" routerLink="/edit-factory">แก้ไขโรงงาน</a><br>
    </div>
  </div>
  <div class="grid-item-layout item2">

  <!-- <div class="grid-item-layout item2"> -->
    <div class="ex3-fac">เพิ่มโรงงาน</div>
      <div class="ex4-fac">
      <form action="" method="GET">
        <div class="grid-container-addfac">
          <div class="item-addfac1">

              <a class="input">ชื่อโรงงานสินค้า</a><a style="color: red;">  *</a><br>
              <input type="text-addfac" id="employeeName" name="employee_name" placeholder="ชื่อพนักงาน .."><br>
              <a class="input">ที่อยู่</a><br>
              <input type="text-addfac" id="username" name="username" placeholder="ชื่อผู้ใช้ .."><br>
              <a class="input">เบอร์ติดต่อ</a><br>
              <input type="text-addfac" id="username" name="username" placeholder="ชื่อผู้ใช้ ..">


          </div>

          <div class="item-addfac2">
              <a class="input">ชื่อผู้ขาย</a><br>
              <input type="text-addfac" id="barcode" name="barcode" placeholder="เบอร์ติดต่อ .."><br>
              <a class="input">Line ID</a><br>
              <input type="text-addfac" id="brand" name="brand" placeholder="รหัสผ่าน ..">
              <a class="input">เบอร์ติดต่อผู้ขาย</a><br>
              <input type="text-addfac" id="brand" name="brand" placeholder="รหัสผ่าน ..">

            <!-- <a class="reset" type="reset" value="ยกเลิก">ยกเลิก</a> -->
            <button type="submit-addfac" value="ยืนยัน">ยืนยัน</button>
            <input type="reset" value="ยกเลิก">

          </div>

        </div>

      </form>
      </div>
</div>
