
<!-- <p>HOME BEMBER!</p> -->
<title> STORE STOCK | home-user </title>
<!-- Toolbar -->
<!-- <app-header-user></app-header-user> -->
<body>

<div class="grid-container-user">
<!-- stock -->
  <div class="grid-item-user">
    <div class="menu-logo" >
      <div class="menuBox" routerLink="/mystock-user" routerLinkActive="active" >
          <img src="../assets/img/warehouse (2).png">
          <div class="home">คลังสินค้า</div>
      </div>
    </div>
  </div>
<!-- find my product -->
  <div class="grid-item-user">
    <div class="menu-logo" >
        <div class="menuBox" routerLink="/findproduct-user" routerLinkActive="active">
            <img src="../assets/img/search.png">
            <div class="home">ค้นหาสินค้า</div>
        </div>
    </div>
  </div>

<!-- billing -->
  <div class="grid-item-user">
    <div class="menu-logo" >
        <div class="menuBox" routerLink="/billing-user" routerLinkActive="active">
            <img src="../assets/img/calculator (1).png">
            <div class="home">คิดเงิน</div>
        </div>
    </div>
  </div>

  <!-- list order -->
  <div class="grid-item-user">
    <div class="menu-logo" >
        <div class="menuBox" routerLink="/listorder-user" routerLinkActive="active">
            <img src="../assets/img/clipboard.png">
            <div class="home">รายการสั่งซื้อ</div>
        </div>
    </div>
  </div>


</div>
</body>


