<!-- <p>listorder-user works!</p> -->
<!-- Toolbar -->
<!-- <app-header-user></app-header-user> -->
<div class="grid-container-list">
  <div class="grid-item-list item1">
    <div class="ex1-op-list">ตัวเลือก</div>
    <div class="ex2-op-list">
      <a class="op">ทั้งหมด</a><br>
      <a class="op">สินค้าที่ต้องสั่ง</a><br>
      <a class="op">สินค้าที่สั่งแล้ว</a><br>
      </div>
  </div>

  <div class="grid-item-list item2">
    <div class="ex3-list">โรงงานสินค้า</div>
      <div class="fixed_header_order">
      <table>
        <thead>
        <tr>
          <th>รหัสสินค้า</th>
          <th>ยี่ห้อ</th>
          <th>ชื่อสินค้า</th>
          <th>ขนาด</th>
          <th>สี</th>
          <th>อื่นๆ</th>
          <th>จำนวนคงเหลือ</th>
          <th>ต้นทุน</th>
          <th>โรงงานสินค้า</th>
          <th>สถานะ</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>J0591</td>
          <td>Beger</td>
          <td>สีย้อมไม้ชนิดเงา</td>
          <td>1/4 GL</td>
          <td>สีมะฮอกกานี</td>
          <td>-</td>
          <td>20</td>
          <td>195</td>
          <td>สีเบเยอร์</td>
          <td style="color:red;">สั่งแล้ว</td>
        </tr>
        <tr>
          <td>JW001</td>
          <td>Loren em</td>
          <td>pipe</td>
          <td>1/2 นิ้ว</td>
          <td>ฟ้า</td>
          <td>-</td>
          <td>20</td>
          <td>30</td>
          <td>ช.วุฒิกร</td>
          <td style="color:red;">สั่งแล้ว</td>
        </tr>
      </tbody>
      </table>
    </div>
  </div>



</div>
